.proj1 {
    display: inline-flex;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
}

.proj1 button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 15px;
    border-color: #099FFF;
    box-shadow: 0 5px 15px 3px #099FFF;
}

.proj1 button img {
    height: 100px;
}

.proj1 button h2 {
    font-size: 1px;
}